.dice {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px #00000026;
}

.dice--num {
    font-size: 10px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.green-bg {
    background-color: #59E391;
}